# R / RStudio
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Renviron
 01_RNAseq_Analysis.log

# Package/library state
renv/library/
renv/staging/

# OS clutter
.DS_Store
Thumbs.db

# RNA-seq analysis outputs
*.RData
*.Rdata
*.html
*.pdf