# R / RStudio
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Renviron
 01_RNAseq_Analysis.log

# Package/library state
renv/library/
renv/staging/

# OS clutter
.DS_Store
Thumbs.db

# RNA-seq analysis outputs
**/gene_count.csv
*.bed
*.BED
data_processed/CiiiDER_Predictions/deficit/*MostSigDeficit.csv
data_processed/targets.txt
*.RData
*.Rdata
results/figures/**
results/tables/**
